html, body {
  margin: 0;
  padding: 0;
}

.center {
  width: 820px;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;  
}

button {
  font-size: large;
  width: 10%;
}

input {
  width: 40%;
}

canvas {
  margin: 10px;
  margin-top: 5%;
}